<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} - Filmmeister</title>
    {% else %}
    <title>Willkommen bei Filmmeister!</title>
    {% endif %}
  </head>
  <body>
    <div>
      Der Filmmeister:
      <a href="{{ url_for('index') }}">Heim</a>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Anmelden</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Abmeldung</a>
      {% endif %}
    </div>
    <hr></hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>